.bill-title {
  text-align: center;
  font-weight: 900;
}

.bill-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bill-header {
  padding-left: 5px;
  height: 25px;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}

.bill-col1 {
  padding-left: 10px;
  box-sizing: border-box;
  font-weight: 900;
  font-size: 20px;
  width: 100%;
}

.bill-col2 {
  box-sizing: border-box;
  padding-right: 30px;
  text-align: right;
  font-weight: 900;
  width: 100%;
}

.bill-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.bill-data {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 90px;
  grid-template-areas: "img text price";
  border-bottom: 1px solid var(--First);
  padding: 5px;
}

.bill-img {
  grid-area: img;
  width: 100px;
  height: 80px;
}

.bill-name {
  grid-area: text;
  justify-self: start;
  align-self: end;
  margin-left: 5px;
  margin-bottom: 10px;
}

.bill-conten-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bill-btn-remove {
  background-color: var(--First);
  position: relative;
  left: calc(50% - 15px);
  top: 5px;
  width: 30px;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bill-price {
  grid-area: price;
  margin-bottom: 10px;
  justify-self: end;
  align-self: end;
}

.bill-fooder {
  padding-left: 5px;
  padding-right: 10px;
  height: 25px;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.bill-foo1 {
  padding-left: 5px;
  box-sizing: border-box;
  align-self: center;
  font-weight: 900;
  width: 100%;
}

.bill-foo2 {
  text-align: end;
  justify-self: end;
  font-weight: 900;
  width: 100%;
}

.bill-btn {
  height: 30px;
  border: none;
  background-color: #0062e6;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px 5px;
  font-weight: bold;
}
