.D3img-containe {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  height: 200px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.D3img-conten {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;

  position: relative;
  width: 100%;
  height: 200px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.D3img-box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  width: 80%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #bbb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 800ms ease-in-out;
}

.D3img-img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.D3img-error {
  color: red;
}

/*.plate-desc {
 position: absolute;
 top: 5px;
 right: 5px;
 height: Calc(100% - 10px);
 color: black;
}*/

.D3img-box:first-of-type {
  opacity: 1;
  left: 5%;
  z-index: 5;
  transform: translate(-8%, -50%) rotateY(-10deg) translateZ(-0px);
}

.D3img-box:nth-of-type(2) {
  opacity: 0.75;
  left: 10%;
  z-index: 5;
  transform: translate(-7%, -50%) rotateY(-10deg) translateZ(-33px);
}

.D3img-box:nth-of-type(3) {
  color: #eee;
  opacity: 0.5;
  left: 15%;
  z-index: 10;
  transform: translate(-6%, -50%) rotateY(-10deg) translateZ(-66px);
}

.D3img-box:nth-of-type(4) {
  opacity: 0.25;
  left: 20%;
  z-index: 15;
  transform: translate(-5%, -50%) rotateY(-10deg) translateZ(-100px);
}
